{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<section class="section-conten padding-y bg">
  {% include 'partials/_messages.html' %}  
  <div class="container">
    <div class="row">
      {% include 'partials/_sidebarDashboard.html' %}
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Change Your Password</strong>
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form action="{% url 'change_password' %}" method="POST" >
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="">Current password</label>
                    <input 
                      type="password" 
                      class="form-control" 
                      name="current_password" 
                      placeholder="Your actuel password"
                      required>
                  </div>
                  <div class="mb-3">
                    <label for="">Create new Password</label>
                    <input 
                      type="password" 
                      name="new_password" 
                      class="form-control" 
                      placeholder="New password"
                      required>
                  </div>
                  <div class="mb-3">
                    <label for="">Confirm new Password</label>
                    <input 
                      type="password" 
                      name="confirm_new_password"
                      class="form-control"
                      placeholder="Confirm new Password"
                      required>
                  </div>
                  <button class="btn btn-lg btn-outline-primary" type="submit">Create new password</button>
                </form>
              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>

{% endblock content %}
