{% extends 'base.html' %} {% load static %} {% block content %}
<div
  class="d-flex justify-content-center align-items-center"
  style="max-width: 1080px%; margin-top: 100px; margin-bottom: 100px">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="border border-3 border-primary"></div>
        <div class="card bg-white shadow-lg">
          <div class="card-body p-5">
            <h2 class="fw-bold mb-2 text-uppercase">Forgot Password.</h2>
            <p class="mb-2 text-muted">Please enter your email!</p>
            <p class="mb-3"> We'll send you an email with a reset password link.</p>
            <form action="{% url 'forgot_password' %}" method="POST" class="mb-3 mt-md-4">
              {% csrf_token %}
              {% include 'partials/_messages.html' %}
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="name@example.com"
                  name="email" />
              </div>
              <div class="d-grid">
                <button class="btn btn-outline-dark" type="submit">
                  Send Email
                </button>
              </div>
            </form>
            <div>
              <p class="mb-0 text-center">
                Remember your password?
                <a href="{% url 'login' %}" class="text-primary fw-bold">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
