{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="max-width: 1080px%; margin-top:100px; margin-bottom:100px">
  {% if request.GET.command == 'verification' %}
    <div class="container text-center alert alert-info" role="alert">
      <h4><b>Please check your email, we have sent you an link to activate your account.</b></h4>
    </div>
  {% else %}
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="border border-3 border-primary"></div>
          <div class="card bg-white shadow-lg">
            <div class="card-body p-5">
              <h2 class="fw-bold mb-2 text-uppercase ">Login</h2>
              <p class=" mb-5">Please enter your credentials!</p>
              <form action="{% url 'login' %}" method="POST" class="mb-3 mt-md-4">
                {% csrf_token %}
             
                {% include 'partials/_messages.html' %}
                <div class="mb-3">
                  <label for="email" class="form-label ">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label ">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="*******">
                </div>
                <p class="small"><a class="text-primary" href="{% url 'forgot_password' %}">Forgot password?</a></p>
                <div class="d-grid">
                  <button class="btn btn-outline-dark" type="submit">Login</button>
                </div>
              </form>
              <div>
                <p class="mb-0  text-center">
                  Don't have an account? 
                  <a href="{% url 'register' %}" class="text-primary fw-bold">SignUp</a>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  
</div>

{% endblock content %}
