{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
  <div class="text-center mt-2">
  {% include 'partials/_messages.html' %}
  </div>
  <section class="section-intro padding-y-sm">
    <div class="container">
      <div class="intro-banner-wrap">
        <img src="{% static 'images/banners/banner1.jpg' %}" class="img-fluid rounded" />
      </div>
    </div>
    <!-- container //  -->
  </section>
<!-- ========================= SECTION MAIN END// ========================= -->
<section class="section-name padding-y-sm">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <h3 class="section-title">Popular products</h3>
      </div>
      <div>
        <a href="{% url 'store' %}" class="btn btn-primary float-end">See all</a>
      </div> 
    </div>
    <!-- section-heading -->

    <div class="row">
      {% for product in products %}
        <div class="col-md-3">
          <div class="card card-product-grid">
            <a href="{{product.get_url}}" class="img-wrap">
              <img src="{{product.images.url}}" />
            </a>
            <figcaption class="info-wrap">
              <a href="{{product.get_url}}" class="title text-decoration-none">{{product.name}}</a>
              <div class="price mt-1">{{product.price}} $</div>
              <div class="rating-star">
                <span>
                  <i class="fa-solid fa-star{% if product.average_review < 0.5 %}-{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half{% endif %}"></i>
                  <i class="fa-solid fa-star{% if product.average_review < 1.5 %}-{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half{% endif %}"></i>
                  <i class="fa-solid fa-star{% if product.average_review < 2.5 %}-{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half{% endif %}"></i>
                  <i class="fa-solid fa-star{% if product.average_review < 3.5 %}-{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half{% endif %}"></i>
                  <i class="fa-solid fa-star{% if product.average_review < 4.5 %}-{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half{% endif %}"></i>
                  <span class="text-muted">{{product.count_review}} review{% if product.count_review > 1 %}s{% endif %}</span>
                </span>
              </div>
              <!-- price-wrap.// -->
            </figcaption>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- container // -->
</section>
{% endblock content %}